body{
    margin: 0;
    padding: 0;

    margin: 0;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-container{
    background-color: #232020;
    width: 450px;
    height: 580px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.display {
    margin: 0 auto;
    margin-top: 25px;
    padding: 0 15px;
    width: 90%;
    height: 100px;
    background: palegoldenrod;
    border-radius: 10px;
    
    display: flex;
    align-items: center;

    color: black;
    font-size: 40px;
    font-weight: 400;

}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button{
    height: 70px;
    width: 90px;
    background-color: palegoldenrod;
    border-radius: 10px;
}