body{
    margin: 0;
    padding: 0;

    margin: 0;
    height: 100vh;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-container{
    background-color: #232020;
    width: 450px;
    height: 580px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.display {
    margin: 0 auto;
    margin-top: 25px;
    padding: 0 15px;
    width: 90%;
    height: 100px;
    background: palegoldenrod;
    border-radius: 10px;
    
    display: flex;
    align-items: center;

    color: black;
    font-size: 40px;
    font-weight: 400;

}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button{
    height: 70px;
    width: 90px;
    background-color: palegoldenrod;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 22px;
}

.history{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
}

.history-content {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 15% auto;
  border-radius: 8px;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 50px;
}

.history-item{
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.history-expr{
  font-weight: 600;
}

.history-time{
  font-size: 12px;
  opacity: 0.7;
  margin-top: 4px;
}

.history-list{
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.history-item-wrapper{
    display: flex;
    gap: 10px;
}